{% load i18n %}
{% load static %}
{% load account %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="bg-light-200">
<div class="main-wrapper authentication-wrapper">
    <div class="container-fuild">
        <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
            <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
                <div class="col-xxl-4 col-lg-6 col-md-6 col-11 mx-auto">
                    <div class="p-4 text-center">
                        <img src="{% static 'img/logo-dark.svg' %}" alt="logo" class="img-fluid">
                    </div>
                    <div class="card authentication-card">
                        <div class="card-header">
                            <div class="text-center">
                                <h5 class="mb-1">{% trans "Password Reset" %}</h5>
                                <p>{% trans "Please check your email for instructions to reset your password." %}</p>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <div class="alert alert-info" role="alert">
                                {% blocktrans %}
                                    We have sent you an email. If you do not receive it, please check your spam folder.
                                    Otherwise, contact us if you do not receive it within a few minutes.
                                {% endblocktrans %}
                            </div>

                            <div class="text-center mt-4">
                                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg">
                                    {% trans "Back to Login" %}
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="coprright-footer">
        <p class="fs-14">Copyright &copy; 2025. All Rights Reserved,
            <a href="javascript:void(0);" class="text-primary fw-medium">DreamsTour</a>
        </p>
    </div>
</div>

<!-- Cursor -->
<div class="xb-cursor tx-js-cursor">
    <div class="xb-cursor-wrapper">
        <div class="xb-cursor--follower xb-js-follower"></div>
    </div>
</div>

<!-- Scripts -->
{% include 'scripts.html' %}
</body>
</html>
