{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if request.resolver_match.url_name == 'home' and site_config.hero_heading %}{{ site_config.hero_heading }}{% if site_config.short_brand_name %} | {{ site_config.short_brand_name }}{% endif %}{% else %}{{ site_config.official_brand_name }}{% endif %}</title>
    {% if site_config.hero_description %}<meta name="description" content="{{ site_config.hero_description }}">{% endif %}
    {% if site_config.operating_company_name or site_config.legal_entity_name %}<meta name="author" content="{{ site_config.operating_company_name|default:site_config.legal_entity_name }}">{% endif %}
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#072720">

    {% if site_canonical_url %}<link rel="canonical" href="{{ site_canonical_url }}">{% endif %}
    {% if site_config.logo_symbol_url %}<link rel="apple-touch-icon" href="{{ site_config.logo_symbol_url }}">{% endif %}
    {% if site_config.favicon_url %}<link rel="icon" href="{{ site_config.favicon_url }}">{% endif %}
    <link rel="manifest" href="{% url 'home:site_manifest' %}">

    {% if site_config.short_brand_name %}<meta property="og:site_name" content="{{ site_config.short_brand_name }}">{% endif %}
    <meta property="og:type" content="website">
    {% if site_config.hero_heading %}<meta property="og:title" content="{{ site_config.hero_heading }}">{% endif %}
    {% if site_config.hero_description %}<meta property="og:description" content="{{ site_config.hero_description }}">{% endif %}
    {% if site_canonical_url %}<meta property="og:url" content="{{ site_canonical_url }}">{% endif %}
    {% if site_default_social_image_url %}<meta property="og:image" content="{{ site_default_social_image_url }}">{% endif %}
    <meta name="twitter:card" content="{% if site_default_social_image_url %}summary_large_image{% else %}summary{% endif %}">
    {% if site_config.hero_heading %}<meta name="twitter:title" content="{{ site_config.hero_heading }}">{% endif %}
    {% if site_config.hero_description %}<meta name="twitter:description" content="{{ site_config.hero_description }}">{% endif %}
    {% if site_default_social_image_url %}<meta name="twitter:image" content="{{ site_default_social_image_url }}">{% endif %}
    {% if site_organization_json_ld %}<script type="application/ld+json">{{ site_organization_json_ld|safe }}</script>{% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&family=Noto+Sans+Arabic:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    {% if LANGUAGE_CODE == 'fa' or LANGUAGE_CODE == 'ar' %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'plugins/tabler-icons/tabler-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">

    {% if request.resolver_match.namespace != 'home' %}
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owlcarousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-lite.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/ion-rangeslider/css/ion.rangeSlider.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/intltelinput/css/intlTelInput.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/brand-tokens.css' %}">
    <link rel="stylesheet" href="{% static 'css/larmoond.css' %}">
    <link rel="stylesheet" href="{% static 'css/larmoond-home2.css' %}">
    <link rel="stylesheet" href="{% static 'css/afghanistan-map.css' %}">
    <link rel="stylesheet" href="{% static 'css/afghanistan-map-enhancements.css' %}">
    <link rel="stylesheet" href="{% static 'css/afghanistan-map-refinement.css' %}">
    <link rel="stylesheet" href="{% static 'css/larmoond-components.css' %}">
    <link rel="stylesheet" href="{% static 'css/larmoond-pages.css' %}">
    <link rel="stylesheet" href="{% static 'css/larmoond-home-premium.css' %}">
    <link rel="stylesheet" href="{% static 'css/larmoond-public-shell.css' %}">
    <link rel="stylesheet" href="{% static 'css/larmoond-homepage.css' %}">
</head>
