{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-bar breadcrumb-bg-02 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">Instructions for tourists in Afghanistan</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                        <li class="breadcrumb-item">Pages</li>
                        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">

        <!-- Privacy Policy -->
        <p>
            There have been political and social changes in the country that require us to respect the norms and values,
            taking into account all the nuances, we will make the tour useful for our guests, where they will feel most
            welcome.


        </p>
        <p>
            Below we present to our guests the recommendations from the Ministry of Information and Culture of
            Afghanistan for foreign tourists. This will help you prepare and have a wonderful tour of the country:


        </p>
        <!-- Policy 1 -->
        <div class="mb-4">
            <div class="d-flex mb-1">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    You are responsible for travel insurance, which should cover any activity you plan to undertake,
                    from driving to mountaineering. </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Make sure you have a photocopy of your passport in case you are asked to present it on arrival or at
                    any time during your travel. In the meantime, be sure to keep and protect your passport while
                    travelling in the country.
                </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Keep in touch with family and friends in your home country. We suggest sharing a copy of your tour
                    itinerary with return flight schedules, city names and accommodation arrangements. </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Dress like the locals. We recommend carrying loose, long-sleeved dresses and, for women, a scarf to
                    cover the head and shoulders. Sleeveless T-shirts and dresses are prohibited for everyone throughout
                    the country and especially in village and city markets. </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Please do not carry excess cash or expensive jewellery. If you want to buy souvenirs in Afghanistan,
                    buy them from official shops that sell legally. In addition, buying or taking away historical
                    antiquities without a receipt and from an unauthorized dealer is considered illegal; so always ask
                    your guide for advice. </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Alcohol is prohibited in the country, so do not bring any alcohol or anything that may get you into
                    trouble upon arrival. Meanwhile, drug use is prohibited in the country. </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Please carry cash and a money belt. Debit/credit cards (Visa, Mastercard, etc.) are not accepted in
                    Afghanistan. You can convert currency to Afghani in your home country or at Kabul airport. You can
                    also ask your guide to help you with the currency conversion upon arrival. </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Always travel with a local guide. Included in trips to tourist attractions, villages, local markets,
                    etc. •
                    Always get the consent of the person/s in charge before taking photographs of tourist sites
                    (historical buildings, mosques, etc.) and local people. Taking photographs of government buildings,
                    military personnel, and military installations is prohibited.
                </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Female travellers/tourists should avoid shaking hands with local men and vice versa. This is a
                    cultural and religious practice rather than a health and safety concern. </p>
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Avoid travelling late at night or at midnight and always ask your driver/guide for directions. We
                    advise you to always follow the route given by your driver/guide for safety reasons.
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Carry hand sanitizer, sunscreen, water and snacks when travelling in the country. Travel by road can
                    be long but the scenery is beautiful.
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Homosexuality is discouraged in Afghanistan; therefore, we advise you to avoid such public remarks
                    as they may cause problems.
            </div>
            <div class="d-flex">
                <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                <p>
                    Pack the night before and get plenty of rest.
            </div>

        </div>
        <!-- /Policy 1 -->

       

        <!-- /Privacy Policy -->
    </div>
</div>
{% endblock %}