{% load django_htmx i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}" dir="ltr">
    {% include 'head.html' %}
    {% htmx_script %}
    <body class="{% block body_class %}{% endblock %}" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        <a class="visually-hidden-focusable" href="#main-content">Skip to content</a>
        {% include 'header.html' %}
        <main id="main-content">
            {% block content %}{% endblock %}
        </main>
        {% include 'footer.html' %}
        {% include 'scripts.html' %}
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
