{% load static %}
<div class="back-to-top">
    <a class="back-to-top-icon align-items-center justify-content-center d-flex"  href="#top"><i class="fa-solid fa-arrow-up"></i></a>
</div>

<!-- Jquery JS -->
<script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}"></script><script src="{% static 'js/jquery-3.7.1.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Wow JS -->
<script src="{% static 'js/wow.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- MeanMenu Js -->
<script src="{% static 'js/jquery.meanmenu.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Swiper Js -->
<script src="{% static 'plugins/owlcarousel/owl.carousel.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Fancybox JS -->
<script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Counter JS -->
<script src="{% static 'js/jquery.counterup.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Datepicker Core JS -->
<script src="{% static 'plugins/moment/moment.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- cursor JS -->
<script src="{% static 'js/cursor.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Script JS -->
<script src="{% static 'js/script.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<script src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="a31277fcdbde0c229d4910cc-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js'/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"94eafb6849536d3b","version":"2025.6.2","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"3ca157e612a14eccbb30cf6db6691c29","b":1}' crossorigin="anonymous"></script>
