{% load static %}
<div class="back-to-top">
    <a class="back-to-top-icon align-items-center justify-content-center d-flex"  href="#top"><i class="fa-solid fa-arrow-up"></i></a>
</div>

<!-- Jquery JS -->
<script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}"></script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Bootstrap JS -->

<!-- Wow JS -->
<script src="{% static 'js/wow.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- MeanMenu Js -->
<script src="{% static 'js/jquery.meanmenu.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Swiper Js -->
<script src="{% static 'plugins/owlcarousel/owl.carousel.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Fancybox JS -->
<script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Counter JS -->
<script src="{% static 'js/jquery.counterup.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Datepicker Core JS -->
<script src="{% static 'plugins/moment/moment.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<script src="{% static 'plugins/slick/slick.min.js' %}" type="2c285b403af1e32352a0a17c-text/javascript"></script>

<!-- cursor JS -->
<script src="{% static 'js/cursor.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<!-- Script JS --><!-- Sticky Sidebar JS -->
<script src="{% static 'plugins/theia-sticky-sidebar/ResizeSensor.js' %}" type="232a4982946cb0f8b4013c81-text/javascript"></script>
<script src="{% static 'plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}" type="232a4982946cb0f8b4013c81-text/javascript"></script>

<script src="{% static 'js/script.js' %}" type="a31277fcdbde0c229d4910cc-text/javascript"></script>

<script src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="a31277fcdbde0c229d4910cc-|49" defer></script>

<!-- Rangeslider JS -->
<script src="{% static 'plugins/ion-rangeslider/js/ion.rangeSlider.js' %}" type="232a4982946cb0f8b4013c81-text/javascript"></script>
<script src="{% static 'plugins/ion-rangeslider/js/custom-rangeslider.js' %}" type="232a4982946cb0f8b4013c81-text/javascript"></script>
<script src="{% static 'plugins/ion-rangeslider/js/ion.rangeSlider.min.js' %}" type="232a4982946cb0f8b4013c81-text/javascript"></script>



    <!-- Summernote JS -->
    <script src="{% static 'plugins/summernote/summernote-lite.min.js' %}" type="bccfa510a36b4499545c7dc5-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}" type="bccfa510a36b4499545c7dc5-text/javascript"></script>

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

